@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: $colormain;
    color: $common-text-color;
    height: 40px;
    position: relative;
    .right-header-container {
        color: $common-text-color;
        line-height: 40px;
        height: 40px;
        padding: 0 10px;
        display: flex;

        .welcome {
            margin: 0 20px;
        }

        .btn-logout {
            height: 40px;
            color: $common-text-color;
            padding: 6px 10px 0px 10px;

            &:hover {
                background-color: darken($colormain, 5);
            }
            i {
                font-size: $base-size + 1px;
            }
        }
    }
}